div {
  border: 3px solid red;
}

.cvalue {
  border: 3px solid green;
}

#ivalue {
  border: 3px solid blue;
}

a {
  text-decoration: none;
}

a:link {
  color: red;
}

a:visited {
  color: blue;
}

a:hover {
  color: green;
}

input[type='text'] {
  color: green;
}
